<nz-card *ngIf="!loggedIn">
  <button class="btn-google" nz-button nzType="primary" (click)="GoogleLogin()">
    <i nz-icon nzType="google"></i> Login With Google
  </button>
  <button class="btn-facebook" nz-button nzType="primary" (click)="FacebookLogin()">
    <i nz-icon nzType="facebook"></i> Login With Facebook
  </button>
</nz-card>


<nz-card *ngIf="loggedIn" style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[Logout]">
  <nz-card-meta [nzTitle]="UserName" [nzDescription]="Email" ></nz-card-meta>
</nz-card>
<ng-template #UserName>
  <h3>{{user.name}}</h3>
</ng-template>
<ng-template #Email>
  <p>{{user.email}}</p>
</ng-template>
<ng-template #coverTemplate>
  <img alt="example" src="{{user.photoUrl}}" />
</ng-template>
<ng-template class="btn-logout" #Logout>
  <i nz-icon nzType="logout" (click)="SignOut()"></i>
</ng-template>

